
.circular--square{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius:  50%;
    }


.building--image{
    width: 60px;
    height: 60px;
}

.upgrade--image{
    width: 60px;
    height: 60px;
}

.building--container{
    display:flex;    
    flex-direction: column;
    border: 8px solid black;
}

.building{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.building--information--container{
    display: flex;
    
    gap:30px
}

.building--level--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:8px;
}

.building--level--container h3 {
    margin: 0;
}


.building--cost--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.building--cost--container h3 {
    margin: 0;
}


.building--button--container{
    display: flex;
    padding-right: 30px;
}

.upgrade--container{
    display: flex;
}

.upgrade{
    display: flex;
}

.upgrade--tooltip{
    display: none;
    background: #C8C8C8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:200px;
    height:200px;
}

.upgrade--tooltip h3 {
    margin-top: 0px;
}

.upgrade:hover .upgrade--tooltip{
    display: flex;
    flex-direction: column;
}



.container{
    display: grid;
    grid-template-areas:
    "header header header"
    "left center right"
    "footer footer footer";
    grid-template-columns: 1fr 2fr 1.5fr;
    grid-template-rows: 1fr 5fr 1fr; 
}

.stat--container{
    display:flex; 
    flex-direction: row; 
}

.progress--bar--container{
    margin:10%;
}


.progress--bar--outline{
    display: flex;
    border: 8px solid black
}

.progress--bar{
    width: 30%;
    height: 50px;
    background-color: green;
}





.cookie{
    display: flex;
    flex-direction: column;
    border: 8px solid black;

}

#counter{
    margin-bottom: 10%;
    font-size: 40px;
}


.container > div {
    background-color: lightblue;
    padding: 10px;
    border: 8px solid black;

}

.container > div.header {
    grid-area: header;
}


.container > div.left {
    grid-area: left;
    text-align: center;
}

.container > div.center {
    grid-area: center;
}

.container > div.right {
    grid-area: right;
}

.container > div.footer {
    grid-area: footer;
}
